service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <!-- Definición de Tipos -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      
      <!-- Tipo Complejo para Escala -->
      <s:complexType name="FlightEscala">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="airport_name" type="s:string"/>
        </s:sequence>
      </s:complexType>

      <!-- Tipo Complejo para Aeropuerto de Origen -->
      <s:complexType name="FlightAirportOrigin">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="airport_origin_name" type="s:string"/>
        </s:sequence>
      </s:complexType>

      <!-- Tipo Complejo para Aeropuerto de Destino -->
      <s:complexType name="FlightAirportDestination">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="airport_destino_name" type="s:string"/>
        </s:sequence>
      </s:complexType>

      <!-- Tipo Complejo para Vuelo -->
      <s:complexType name="Flight">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="airport_origin" type="tns:FlightAirportOrigin"/>
          <s:element minOccurs="1" maxOccurs="1" name="airport_destination" type="tns:FlightAirportDestination"/>
          <s:element minOccurs="1" maxOccurs="1" name="flight_airline" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="flight_seat_class" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="unbounded" name="flight_escalas" type="tns:FlightEscala"/>
          <s:element minOccurs="1" maxOccurs="1" name="flight_available_seats" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="flight_ticket_price" type="s:float"/>
        </s:sequence>
      </s:complexType>

      <!-- Mensajes para la Operación de Obtener Vuelos -->
      <s:element name="GetFlightsRequest"/>
      <s:element name="GetFlightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="Flight" type="tns:Flight"/>
          </s:sequence>
        </s:complexType>
      </s:element>

    </s:schema>
  </wsdl:types>

  <!-- Mensajes SOAP -->
  <wsdl:message name="GetFlightsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFlightsRequest"/>
  </wsdl:message>
  <wsdl:message name="GetFlightsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFlightsResponse"/>
  </wsdl:message>

  <!-- Port Types -->
  <wsdl:portType name="FlightServicePortType">
    <wsdl:operation name="GetFlights">
      <wsdl:input message="tns:GetFlightsSoapIn"/>
      <wsdl:output message="tns:GetFlightsSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- Binding -->
  <wsdl:binding name="FlightServiceSoapBinding" type="tns:FlightServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetFlights">
      <soap:operation soapAction="GetFlights" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Servicio SOAP -->
  <wsdl:service name="FlightService">
    <wsdl:port name="FlightServiceSoapPort" binding="tns:FlightServiceSoapBinding">
      <soap:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>